.square-article-container{
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.article-header-image{
    width: inherit;
    height: 50%;
}

.header-image {
    height: 100%;
    width: 100%;
}

